.page {
  position: absolute;
  left: 0;
  right: 0;
  opacity:0.5;
  z-index: -2;
}

#rc-homepage img{
    position: absolute;
    width: 100%;
    transform: translateY(0%);
    bottom: 0;
}
#rc-homepage {
    width: 100vw;
    height: 100vh;
}

#rc-about img {
    position: absolute;
    width: 100%;
    transform: translateY(0%);
    bottom: 0;
}

#rc-about {
    width: 100vw;
    height: 100vh;
}

#rc-logo {
    position: fixed;
    top: 75px;
    left: 75px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    transition: 1s;
    color: white;
}

#navlinks {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    transition: 1s;

}

.navtext {
    opacity: 0;
    transition: 1s;
}

#navlinks ul{
    opacity: 0.3;
    transition: 1s;
}

/*
#rc-about:hover img{
    transform: translateY(0%);
}
*/

#rc-logo:hover{
    font-size:65px;
}
#rc-logo:hover ul{
    opacity: 1;
}
#rc-logo:hover span{
    opacity: 1;
}

/*
@keyframes rc-about-load {
    100% {
        background-position: bottom;
    }
}
*/

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}

.slide-appear,
.slide-enter, img{
    transform: translateY(100%);
    z-index: 1;
}

.slide-appear-active,
.slide-enter.slide-enter-active, img{
    transform: translateY(0%);
    transition: transform 10000ms;
}

.slide-exit, img{
    transform: translateY(0%);
}
.slide-exit.slide-exit-active , img{
    transform: translateY(-100%);
    transition: transform 10000ms;
}


/*
#rc-logo:hover {
    animation-name: rc-logo-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#rc-logo:hover::after {
    content: "";
    animation-name: rc-logo-hover-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#rc-logo:hover span {
    animation-name: rc-logo-navtext-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rc-logo-navtext-hover{
    100% {
        opacity: 1;
    }
}

@keyframes rc-logo-hover{
    100% {
        font-size: 65;
    }
}
@keyframes rc-logo-hover-back{
    100% {
        font-size: 45;
    }
}

*/
